body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.hidden_bl {
  display: none;
}

a {
  text-decoration: none;
}

button {
  background-color: SteelBlue; /* Green */
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 8px;
}

input {
  border-radius: 5px;
  height: 30px;
  width: 180px;
  margin: 10px 0px;
  border-color: SteelBlue;
}

select {
  background-color: white;
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  border-radius: 5px;
  color: black;
  padding: 10px 30px 10px 10px;
  outline: none;
  appearance: none;
}

.container {
  margin: 20px 50px;
}
